[Unit]
Description=Python temperature and pump control
After=network.target
StartLimitIntervalSec=310

[Service]
Type=simple
Restart=on-failure
RestartSec=60
User=poolcontrol
Group=poolcontrol
WorkingDirectory=/usr/local/poolcontrol
ExecStart=/usr/bin/python3 /usr/local/poolcontrol/TempControl.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
